<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/AdminDashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AdminFeatures/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Öne Çıkanlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AdminProduct/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AdminCategory/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AdminAbout/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/AdminContact/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">İletişim Mesajları</span>
            </a>
        </li>
        
        
        <li class="nav-item">
            <a class="nav-link" href="/AdminLogin/Logout">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>